
.popup-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.popup-div .popup-cont {
    width: 50%;
    height: 50vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.popup-div .popup-cont .close-banner {
    position: absolute;
    top: 20px;
    right: 30px;
}